[Desktop Entry]
Version=1.0
Type=Application
Name=VSCodium
Icon=/opt/vscodium/resources/app/resources/linux/code.png
Exec="/usr/local/bin/codium" %f
Comment=A Visual Studio Code Editor compiled by community
Categories=Development;IDE;Editor;
Terminal=false
